[submodule "francecrime"]
	path = francecrime
	url = git@github.com:rinze/francecrime.git
[submodule "bond-movies"]
	path = bond-movies
	url = git@github.com:rinze/bond-movies.git
[submodule "bicimad-analysis"]
	path = bicimad-analysis
	url = git@github.com:rinze/bicimad-analysis.git
[submodule "seattle-bikes"]
	path = seattle-bikes
	url = git@github.com:rinze/seattle-bikes.git
[submodule "estudio-voto-blanco2011"]
	path = estudio-voto-blanco2011
	url = git@github.com:rinze/estudio-voto-blanco2011.git
[submodule "bixi-analysis"]
	path = bixi-analysis
	url = https://github.com/rinze/bixi-analysis.git
[submodule "spotify-moods"]
	path = spotify-moods
	url = https://github.com/rinze/spotify-moods.git
[submodule "el_pais_editoriales"]
	path = el_pais_editoriales
	url = https://github.com/rinze/el_pais_editoriales
[submodule "un_clustering"]
	path = un_clustering
	url = https://github.com/rinze/un_clustering.git
